= content_for :head do 
  %h2.pull-left
    %i.icon-mobile-phone
    My phone list
= content_for :javascript do 
  =javascript_include_tag "phones"

- if @all_phones.empty?
  .no_phone Vous n'avez pas de téléphone !
- else
  .col-md-12
    .widget
      .widget-head
        .pull-left All your phones
        .widget-icons.pull-right
          %a.wminimize{:href => "#"}
            %i.icon-chevron-up
          %a.wclose{:href => "#"}
            %i.icon-remove
        .clearfix
      .widget-content
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th Phone Number
              %th Token
              %th Last ping date
              %th Status
          %tbody
            - @used_phones.each do |phone|
              %tr
                %td=phone.number
                %td=phone.token
                %td=distance_of_time_in_words_to_now(phone.last_ping_date) + " ago"
                %td
                  .make-switch{"data-off" => "danger", "data-on" => "success"}
                    %input{:checked => true, :type => "checkbox", name: phone.id}
            - @not_used_phones.each do |phone|
              %tr
                %td=phone.number
                %td=phone.token
                %td=distance_of_time_in_words_to_now(phone.last_ping_date) + " ago"
                %td
                  .make-switch{"data-off" => "danger", "data-on" => "success"}
                    %input{:checked => false, :type => "checkbox", name: phone.id}
        .widget-foot
          = link_to t("clients.add_phone"), new_phone_path, class: ["btn", "btn-success", "pull-right"]
          .clearfix