/ Footer starts
%footer
  .container
    .row
      .col-md-12
        / Copyright info
        %p.copy
          Copyright &copy; 2012 |
          %a{:href => "#"} Your Site
  / Footer ends
  / Scroll to top
  %span.totop
  %a{:href => "#"}
    %i.icon-chevron-up