!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    / Title and other stuffs
    %title Charts - MacAdmin
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "author"}/
    / Stylesheets
    %link{:href => "style/bootstrap.css", :rel => "stylesheet"}/
    / Font awesome icon
    %link{:href => "style/font-awesome.css", :rel => "stylesheet"}/
    / jQuery UI
    %link{:href => "style/jquery-ui.css", :rel => "stylesheet"}/
    / Calendar
    %link{:href => "style/fullcalendar.css", :rel => "stylesheet"}/
    / prettyPhoto
    %link{:href => "style/prettyPhoto.css", :rel => "stylesheet"}/
    / Star rating
    %link{:href => "style/rateit.css", :rel => "stylesheet"}/
    / Date picker
    %link{:href => "style/bootstrap-datetimepicker.min.css", :rel => "stylesheet"}/
    / CLEditor
    %link{:href => "style/jquery.cleditor.css", :rel => "stylesheet"}/
    / Bootstrap toggle
    %link{:href => "style/bootstrap-switch.css", :rel => "stylesheet"}/
    / Main stylesheet
    %link{:href => "style/style.css", :rel => "stylesheet"}/
    / Widgets stylesheet
    %link{:href => "style/widgets.css", :rel => "stylesheet"}/
    / HTML5 Support for IE
    /[if lt IE 9]
      <script src="js/html5shim.js"></script>
    / Favicon
    %link{:href => "img/favicon/favicon.png", :rel => "shortcut icon"}/
  %body
    .navbar.navbar-fixed-top.bs-docs-nav{:role => "banner"}
      .conjtainer
        / Menu button for smallar screens
        .navbar-header
          %button.navbar-toggle.btn-navbar{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span Menu
          / Site name for smallar screens
          %a.navbar-brand.hidden-lg{:href => "index.html"} MacBeth
        / Navigation starts
        %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}
          %ul.nav.navbar-nav
            / Upload to server link. Class "dropdown-big" creates big dropdown
            %li.dropdown.dropdown-big
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.label.label-success
                  %i.icon-cloud-upload
                Upload to Cloud
              / Dropdown
              %ul.dropdown-menu
                %li
                  / Progress bar
                  %p Photo Upload in Progress
                  / Bootstrap progress bar
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-info{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "40", :role => "progressbar", :style => "width: 40%"}
                      %span.sr-only 40% Complete
                  %hr/
                  / Progress bar
                  %p Video Upload in Progress
                  / Bootstrap progress bar
                  .progress.progress-striped.active
                    .progress-bar.progress-bar-success{"aria-valuemax" => "100", "aria-valuemin" => "0", "aria-valuenow" => "80", :role => "progressbar", :style => "width: 80%"}
                      %span.sr-only 80% Complete
                  %hr/
                  / Dropdown menu footer
                  .drop-foot
                    %a{:href => "#"} View All
            / Sync to server link
            %li.dropdown.dropdown-big
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %span.label.label-danger
                  %i.icon-refresh
                Sync with Server
              / Dropdown
              %ul.dropdown-menu
                %li
                  / Using "icon-spin" class to rotate icon.
                  %p
                    %span.label.label-info
                      %i.icon-cloud
                    Syncing Members Lists to Server
                  %hr/
                  %p
                    %span.label.label-warning
                      %i.icon-cloud
                    Syncing Bookmarks Lists to Cloud
                  %hr/
                  / Dropdown menu footer
                  .drop-foot
                    %a{:href => "#"} View All
          / Search form
          %form.navbar-form.navbar-left{:role => "search"}
            .form-group
              %input.form-control{:placeholder => "Search", :type => "text"}/
          / Links
          %ul.nav.navbar-nav.pull-right
            %li.dropdown.pull-right
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                %i.icon-user
                Admin
                %b.caret
              / Dropdown menu
              %ul.dropdown-menu
                %li
                  %a{:href => "#"}
                    %i.icon-user
                    Profile
                %li
                  %a{:href => "#"}
                    %i.icon-cogs
                    Settings
                %li
                  %a{:href => "login.html"}
                    %i.icon-off
                    Logout
    / Header starts
    %header
      .container
        .row
          / Logo section
          .col-md-4
            / Logo.
            .logo
              %h1
                %a{:href => "#"}
                  Mac
                  %span.bold Admin
              %p.meta something goes in meta area
            / Logo ends
          / Button section
          .col-md-4
            / Buttons
            %ul.nav.nav-pills
              / Comment button with number of latest comments count
              %li.dropdown.dropdown-big
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-comments
                  Chats
                  %span.label.label-info 6
                %ul.dropdown-menu
                  %li
                    / Heading - h5
                    %h5
                      %i.icon-comments
                      Chats
                    / Use hr tag to add border
                    %hr/
                  %li
                    / List item heading h6
                    %h6
                      %a{:href => "#"} Hi :)
                      %span.label.label-warning.pull-right 10:42
                    .clearfix
                    %hr/
                  %li
                    %h6
                      %a{:href => "#"} How are you?
                      %span.label.label-warning.pull-right 20:42
                    .clearfix
                    %hr/
                  %li
                    %h6
                      %a{:href => "#"} What are you doing?
                      %span.label.label-warning.pull-right 14:42
                    .clearfix
                    %hr/
                  %li
                    .drop-foot
                      %a{:href => "#"} View All
              / Message button with number of latest messages count
              %li.dropdown.dropdown-big
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-envelope-alt
                  Inbox
                  %span.label.label-primary 6
                %ul.dropdown-menu
                  %li
                    / Heading - h5
                    %h5
                      %i.icon-envelope-alt
                      Messages
                    / Use hr tag to add border
                    %hr/
                  %li
                    / List item heading h6
                    %h6
                      %a{:href => "#"} Hello how are you?
                    / List item para
                    %p Quisque eu consectetur erat eget  semper...
                    %hr/
                  %li
                    %h6
                      %a{:href => "#"} Today is wonderful?
                    %p Quisque eu consectetur erat eget  semper...
                    %hr/
                  %li
                    .drop-foot
                      %a{:href => "#"} View All
              / Members button with number of latest members count
              %li.dropdown.dropdown-big
                %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                  %i.icon-user
                  Users
                  %span.label.label-success 6
                %ul.dropdown-menu
                  %li
                    / Heading - h5
                    %h5
                      %i.icon-user
                      Users
                    / Use hr tag to add border
                    %hr/
                  %li
                    / List item heading h6
                    %h6
                      %a{:href => "#"} Ravi Kumar
                      %span.label.label-warning.pull-right Free
                    .clearfix
                    %hr/
                  %li
                    %h6
                      %a{:href => "#"} Balaji
                      %span.label.label-important.pull-right Premium
                    .clearfix
                    %hr/
                  %li
                    %h6
                      %a{:href => "#"} Kumarasamy
                      %span.label.label-warning.pull-right Free
                    .clearfix
                    %hr/
                  %li
                    .drop-foot
                      %a{:href => "#"} View All
          / Data section
          .col-md-4
            .header-data
              / Traffic data
              .hdata
                .mcol-left
                  / Icon with red background
                  %i.icon-signal.bred
                .mcol-right
                  / Number of visitors
                  %p
                    %a{:href => "#"} 7000
                    %em visits
                .clearfix
              / Members data
              .hdata
                .mcol-left
                  / Icon with blue background
                  %i.icon-user.bblue
                .mcol-right
                  / Number of visitors
                  %p
                    %a{:href => "#"} 3000
                    %em users
                .clearfix
              / revenue data
              .hdata
                .mcol-left
                  / Icon with green background
                  %i.icon-money.bgreen
                .mcol-right
                  / Number of visitors
                  %p
                    %a{:href => "#"} 5000
                    %em orders
                .clearfix
    / Header ends
    / Main content starts
    .content
      / Sidebar
      .sidebar
        .sidebar-dropdown
          %a{:href => "#"} Navigation
        / - Sidebar navigation
        / If the main navigation has sub navigation, then add the class "has_sub" to "li" of main navigation.
        %ul#nav
          / Main menu with font awesome icon
          %li
            %a{:href => "index.html"}
              %i.icon-home
              Dashboard
            /
              Sub menu markup
              <ul>
              <li><a href="#">Submenu #1</a></li>
              <li><a href="#">Submenu #2</a></li>
              <li><a href="#">Submenu #3</a></li>
              </ul>
          %li.has_sub
            %a{:href => "#"}
              %i.icon-list-alt
              Widgets
              %span.pull-right
                %i.icon-chevron-right
            %ul
              %li
                %a{:href => "widgets1.html"} Widgets #1
              %li
                %a{:href => "widgets2.html"} Widgets #2
              %li
                %a{:href => "widgets3.html"} Widgets #3
          %li.has_sub
            %a{:href => "#"}
              %i.icon-file-alt
              Pages #1
              %span.pull-right
                %i.icon-chevron-right
            %ul
              %li
                %a{:href => "post.html"} Post
              %li
                %a{:href => "login.html"} Login
              %li
                %a{:href => "register.html"} Register
              %li
                %a{:href => "support.html"} Support
              %li
                %a{:href => "invoice.html"} Invoice
              %li
                %a{:href => "profile.html"} Profile
              %li
                %a{:href => "gallery.html"} Gallery
          %li.has_sub
            %a{:href => "#"}
              %i.icon-file-alt
              Pages #2
              %span.pull-right
                %i.icon-chevron-right
            %ul
              %li
                %a{:href => "media.html"} Media
              %li
                %a{:href => "statement.html"} Statement
              %li
                %a{:href => "error.html"} Error
              %li
                %a{:href => "error-log.html"} Error Log
              %li
                %a{:href => "calendar.html"} Calendar
              %li
                %a{:href => "grid.html"} Grid
          %li
            %a.open{:href => "charts.html"}
              %i.icon-bar-chart
              Charts
          %li
            %a{:href => "tables.html"}
              %i.icon-table
              Tables
          %li
            %a{:href => "forms.html"}
              %i.icon-tasks
              Forms
          %li
            %a{:href => "ui.html"}
              %i.icon-magic
              User Interface
          %li
            %a{:href => "calendar.html"}
              %i.icon-calendar
              Calendar
      / Sidebar ends
      / Main bar
      .mainbar
        / Page heading
        .page-head
          %h2.pull-left
            %i.icon-bar-chart
            Charts
          / Breadcrumb
          .bread-crumb.pull-right
            %a{:href => "index.html"}
              %i.icon-home
              Home
            / Divider
            %span.divider /
            %a.bread-current{:href => "#"} Dashboard
          .clearfix
        / Page heading ends
        / Matter
        .matter
          .container
            .row
              .col-md-12
                / Bar Chart
                .widget
                  .widget-head
                    .pull-left Bar Chart
                    .widget-icons.pull-right
                      %a.wminimize{:href => "#"}
                        %i.icon-chevron-up
                      %a.wclose{:href => "#"}
                        %i.icon-remove
                    .clearfix
                  .widget-content
                    .padd
                      / Barchart. jQuery Flot plugin used.
                      #bar-chart
                      %hr/
                      / Bar chart stuffs
                      .btn-group.stackControls
                        %input.btn.btn-default{:type => "button", :value => "With stacking"}/
                        %input.btn.btn-default{:type => "button", :value => "Without stacking"}/
                      .btn-group.graphControls
                        %input.btn.btn-default{:type => "button", :value => "Bars"}/
                        %input.btn.btn-default{:type => "button", :value => "Lines"}/
                        %input.btn.btn-default{:type => "button", :value => "Lines with steps"}/
                / Bar chart ends
                / Curve chart starts
                .widget
                  .widget-head
                    .pull-left Curve Chart
                    .widget-icons.pull-right
                      %a.wminimize{:href => "#"}
                        %i.icon-chevron-up
                      %a.wclose{:href => "#"}
                        %i.icon-remove
                    .clearfix
                  .widget-content
                    .padd
                      #curve-chart
                      %hr/
                      #hoverdata
                        Mouse hovers at
                        (
                        %span#x> 0
                        ,
                        = succeed ")." do
                          %span#y 0
                        %span#clickdata
                / Curve chart ends
                / Realtime chart starts
                .widget
                  .widget-head
                    .pull-left Real Time Chart
                    .widget-icons.pull-right
                      %a.wminimize{:href => "#"}
                        %i.icon-chevron-up
                      %a.wclose{:href => "#"}
                        %i.icon-remove
                    .clearfix
                  .widget-content
                    .padd
                      #live-chart
                      %hr/
                      Time Inverval:
                      %input#updateInterval.span3{:type => "text", :value => ""}/
                / Realtime chart ends
                / Pie chart starts
                .widget
                  .widget-head
                    .pull-left Pie Chart
                    .widget-icons.pull-right
                      %a.wminimize{:href => "#"}
                        %i.icon-chevron-up
                      %a.wclose{:href => "#"}
                        %i.icon-remove
                    .clearfix
                  .widget-content
                    .padd
                      .row
                        .col-md-4
                          #pie-chart
                        .col-md-4
                          #pie-chart2
                        .col-md-4
                          #pie-chart3
                / Pie chart ends
        / Matter ends
      / Mainbar ends
      .clearfix
    / Content ends
    / Footer starts
    %footer
      .container
        .row
          .col-md-12
            / Copyright info
            %p.copy
              Copyright &copy; 2012 |
              %a{:href => "#"} Your Site
    / Footer ends
    / Scroll to top
    %span.totop
      %a{:href => "#"}
        %i.icon-chevron-up
    / JS
    %script{:src => "js/jquery.js"}
    / jQuery
    %script{:src => "js/bootstrap.js"}
    / Bootstrap
    %script{:src => "js/jquery-ui-1.9.2.custom.min.js"}
    / jQuery UI
    %script{:src => "js/fullcalendar.min.js"}
    / Full Google Calendar - Calendar
    %script{:src => "js/jquery.rateit.min.js"}
    / RateIt - Star rating
    %script{:src => "js/jquery.prettyPhoto.js"}
    / prettyPhoto
    / jQuery Flot
    %script{:src => "js/excanvas.min.js"}
    %script{:src => "js/jquery.flot.js"}
    %script{:src => "js/jquery.flot.resize.js"}
    %script{:src => "js/jquery.flot.pie.js"}
    %script{:src => "js/jquery.flot.stack.js"}
    / jQuery Notification - Noty
    %script{:src => "js/jquery.noty.js"}
    / jQuery Notify
    %script{:src => "js/themes/default.js"}
    / jQuery Notify
    %script{:src => "js/layouts/bottom.js"}
    / jQuery Notify
    %script{:src => "js/layouts/topRight.js"}
    / jQuery Notify
    %script{:src => "js/layouts/top.js"}
    / jQuery Notify
    / jQuery Notification ends
    %script{:src => "js/sparklines.js"}
    / Sparklines
    %script{:src => "js/jquery.cleditor.min.js"}
    / CLEditor
    %script{:src => "js/bootstrap-datetimepicker.min.js"}
    / Date picker
    %script{:src => "js/bootstrap-switch.min.js"}
    / Bootstrap Toggle
    %script{:src => "js/filter.js"}
    / Filter for support page
    %script{:src => "js/custom.js"}
    / Custom codes
    %script{:src => "js/charts.js"}
    / Charts &amp; Graphs
    / Scripts for this page
    :javascript
      $(function () {
      
          /* Bar Chart starts */
      
          var d1 = [];
          for (var i = 0; i <= 20; i += 1)
              d1.push([i, parseInt(Math.random() * 30)]);
      
          var d2 = [];
          for (var i = 0; i <= 20; i += 1)
              d2.push([i, parseInt(Math.random() * 30)]);
      
      
          var stack = 0, bars = true, lines = false, steps = false;
          
          function plotWithOptions() {
              $.plot($("#bar-chart"), [ d1, d2 ], {
                  series: {
                      stack: stack,
                      lines: { show: lines, fill: true, steps: steps },
                      bars: { show: bars, barWidth: 0.8 }
                  },
                  grid: {
                      borderWidth: 0, hoverable: true, color: "#777"
                  },
                  colors: ["#ff6c24", "#ff2424"],
                  bars: {
                        show: true,
                        lineWidth: 0,
                        fill: true,
                        fillColor: { colors: [ { opacity: 0.9 }, { opacity: 0.8 } ] }
                  }
              });
          }
      
          plotWithOptions();
          
          $(".stackControls input").click(function (e) {
              e.preventDefault();
              stack = $(this).val() == "With stacking" ? true : null;
              plotWithOptions();
          });
          $(".graphControls input").click(function (e) {
              e.preventDefault();
              bars = $(this).val().indexOf("Bars") != -1;
              lines = $(this).val().indexOf("Lines") != -1;
              steps = $(this).val().indexOf("steps") != -1;
              plotWithOptions();
          });
      
          /* Bar chart ends */
      
      });
      
      
      /* Curve chart starts */
      
      $(function () {
          var sin = [], cos = [];
          for (var i = 0; i < 14; i += 0.5) {
              sin.push([i, Math.sin(i)]);
              cos.push([i, Math.cos(i)]);
          }
      
          var plot = $.plot($("#curve-chart"),
                 [ { data: sin, label: "sin(x)"}, { data: cos, label: "cos(x)" } ], {
                     series: {
                         lines: { show: true, fill: true},
                         points: { show: true }
                     },
                     grid: { hoverable: true, clickable: true, borderWidth:0 },
                     yaxis: { min: -1.2, max: 1.2 },
                     colors: ["#1eafed", "#1eafed"]
                   });
      
          function showTooltip(x, y, contents) {
              $('<div id="tooltip">' + contents + '</div>').css( {
                  position: 'absolute',
                  display: 'none',
                  top: y + 5,
                  left: x + 5,
                  border: '1px solid #000',
                  padding: '2px 8px',
                  color: '#ccc',
                  'background-color': '#000',
                  opacity: 0.9
              }).appendTo("body").fadeIn(200);
          }
      
          var previousPoint = null;
          $("#curve-chart").bind("plothover", function (event, pos, item) {
              $("#x").text(pos.x.toFixed(2));
              $("#y").text(pos.y.toFixed(2));
      
              if ($("#enableTooltip:checked").length > 0) {
                  if (item) {
                      if (previousPoint != item.dataIndex) {
                          previousPoint = item.dataIndex;
                          
                          $("#tooltip").remove();
                          var x = item.datapoint[0].toFixed(2),
                              y = item.datapoint[1].toFixed(2);
                          
                          showTooltip(item.pageX, item.pageY, 
                                      item.series.label + " of " + x + " = " + y);
                      }
                  }
                  else {
                      $("#tooltip").remove();
                      previousPoint = null;            
                  }
              }
          }); 
      
          $("#curve-chart").bind("plotclick", function (event, pos, item) {
              if (item) {
                  $("#clickdata").text("You clicked point " + item.dataIndex + " in " + item.series.label + ".");
                  plot.highlight(item.series, item.datapoint);
              }
          });
      
      });
      
      /* Curve chart ends */
      
      
      
      /* Realtime chart starts */
      
      $(function () {
          // we use an inline data source in the example, usually data would
          // be fetched from a server
          var data = [], totalPoints = 300;
          function getRandomData() {
              if (data.length > 0)
                  data = data.slice(1);
      
              // do a random walk
              while (data.length < totalPoints) {
                  var prev = data.length > 0 ? data[data.length - 1] : 50;
                  var y = prev + Math.random() * 10 - 5;
                  if (y < 10)
                      y = 10;
                  if (y > 70)
                      y = 70;
                  data.push(y);
              }
      
              // zip the generated y values with the x values
              var res = [];
              for (var i = 0; i < data.length; ++i)
                  res.push([i, data[i]])
              return res;
          }
      
          // setup control widget
          var updateInterval = 300;
          $("#updateInterval").val(updateInterval).change(function () {
              var v = $(this).val();
              if (v && !isNaN(+v)) {
                  updateInterval = +v;
                  if (updateInterval < 1)
                      updateInterval = 1;
                  if (updateInterval > 2000)
                      updateInterval = 2000;
                  $(this).val("" + updateInterval);
              }
          });
      
          // setup plot
          var options = {
              series: { shadowSize: 0 }, // drawing is faster without shadows
              lines: {fill: true},
              grid: {borderWidth:0 },
              yaxis: { min: 0, max: 100 },
              colors: ["#ff2424"]
          };
          var plot = $.plot($("#live-chart"), [ getRandomData() ], options);
      
          function update() {
              plot.setData([ getRandomData() ]);
              // since the axes don't change, we don't need to call plot.setupGrid()
              plot.draw();
              
              setTimeout(update, updateInterval);
          }
      
          update();
      });
      
      /* Realtime charts ends */
      
      /* Pie chart starts */
      
      $(function () {
      
          var data = [];
          var series = Math.floor(Math.random()*10)+1;
          for( var i = 0; i<series; i++)
          {
              data[i] = { label: "Series"+(i+1), data: Math.floor(Math.random()*100)+1 }
          }
      
          $.plot($("#pie-chart"), data,
          {
              series: {
                  pie: {
                      show: true,
                      radius: 1,
                      label: {
                          show: true,
                          radius: 3/4,
                          formatter: function(label, series){
                              return '<div style="font-size:8pt;text-align:center;padding:2px;color:white;">'+label+'<br/>'+Math.round(series.percent)+'%</div>';
                          },
                          background: { opacity: 0 }
                      }
                  }
              },
              grid: {hoverable: true},
              legend: {
                  show: false
              }
          }); 
      
          $.plot($("#pie-chart2"), data,
          {
              series: {
                  pie: {
                      show: true
                  }
              },
              grid: {hoverable: true}
          });
      
      
          $.plot($("#pie-chart3"), data,
          {
              series: {
                  pie: {
                      show: true
                  }
              },
              grid: {hoverable: true},
              legend: {
                  show: false
              }
          });   
      
      /* Pie chart ends */
      
      });
      
      
