!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    / Title and other stuffs
    %title Items - MacKart
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "", :name => "author"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:400,600", :rel => "stylesheet", :type => "text/css"}/
    / Stylesheets
    %link{:href => "style/bootstrap.css", :rel => "stylesheet"}/
    / Pretty Photo
    %link{:href => "style/prettyPhoto.css", :rel => "stylesheet"}/
    / Sidebar nav
    %link{:href => "style/sidebar-nav.css", :rel => "stylesheet"}/
    / Flex slider
    %link{:href => "style/flexslider.css", :rel => "stylesheet"}/
    / Font awesome icon
    %link{:href => "style/font-awesome.css", :rel => "stylesheet"}/
    / Main stylesheet
    %link{:href => "style/style.css", :rel => "stylesheet"}/
    / Stylesheet for Color
    %link{:href => "style/red.css", :rel => "stylesheet"}/
    / HTML5 Support for IE
    /[if lt IE 9]
      <script src="js/html5shim.js"></script>
    / Favicon
    %link{:href => "img/favicon/favicon.png", :rel => "shortcut icon"}/
  %body
    / Header starts
    %header
      .container
        .row
          .col-md-4
            / Logo. Use class "color" to add color to the text.
            .logo
              %h1
                %a{:href => "#"}
                  Mac
                  %span.color.bold Kart
              %p.meta online shopping is fun!!!
          .col-md-5.col-md-offset-3
            / Search form
            %form.form-inline{:role => "form"}
              .form-group
                %input#search.form-control{:placeholder => "Search", :type => "email"}/
              %button.btn.btn-default{:type => "submit"} Search
            .hlinks
              %span
                / item details with price
                %a{"data-toggle" => "modal", :href => "#cart", :role => "button"}
                  3 Item(s) in your
                  %i.icon-shopping-cart
                \-
                %span.bold $25
              / Login and Register link
              %span.lr
                %a{"data-toggle" => "modal", :href => "#login", :role => "button"} Login
                or
                %a{"data-toggle" => "modal", :href => "#register", :role => "button"} Register
    / Header ends
    / Cart, Login and Register form (Modal)
    / Cart Modal starts
    #cart.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4 Shopping Cart
          .modal-body
            %table.table.table-striped.tcart
              %thead
                %tr
                  %th Name
                  %th Quantity
                  %th Price
              %tbody
                %tr
                  %td
                    %a{:href => "single-item.html"} HTC One
                  %td 2
                  %td $250
                %tr
                  %td
                    %a{:href => "single-item.html"} Apple iPhone
                  %td 1
                  %td $502
                %tr
                  %td
                    %a{:href => "single-item.html"} Galaxy Note
                  %td 4
                  %td $1303
                %tr
                  %th
                  %th Total
                  %th $2405
          .modal-footer
            %a.btn{:href => "index.html"} Continue Shopping
            %a.btn.btn-danger{:href => "checkout.html"} Checkout
    / Cart modal ends
    / Login Modal starts
    #login.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4 Login
          .modal-body
            .form
              %form.form-horizontal
                .form-group
                  %label.control-label.col-md-3{:for => "username"} Username
                  .col-md-9
                    %input#username.form-control{:type => "text"}/
                .form-group
                  %label.control-label.col-md-3{:for => "email"} Password
                  .col-md-9
                    %input#password.form-control{:type => "password"}/
                .form-group
                  .col-md-9.col-md-offset-3
                    .checkbox.inline
                      %label
                        %input#inlineCheckbox1{:type => "checkbox", :value => "agree"}/
                        Remember Password
                .form-group
                  .col-md-9.col-md-offset-3
                    %button.btn.btn-default{:type => "submit"} Login
                    %button.btn.btn-default{:type => "reset"} Reset
          .modal-footer
            %p
              Dont have account?
              %a{:href => "register.html"} Register
              here.
    / Login modal ends
    / Register Modal starts
    #register.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} ×
            %h4 Register
          .modal-body
            .form
              %form.form-horizontal
                .form-group
                  %label.control-label.col-md-3{:for => "name"} Name
                  .col-md-9
                    %input#name.form-control{:type => "text"}/
                .form-group
                  %label.control-label.col-md-3{:for => "email"} Email
                  .col-md-9
                    %input#email.form-control{:type => "text"}/
                .form-group
                  %label.control-label.col-md-3 Drop Down
                  .col-md-9
                    %select.form-control
                      %option &nbsp;
                      %option 1
                      %option 2
                      %option 3
                      %option 4
                      %option 5
                .form-group
                  %label.control-label.col-md-3{:for => "username1"} Username
                  .col-md-9
                    %input#username1.form-control{:type => "text"}/
                .form-group
                  %label.control-label.col-md-3{:for => "password1"} Password
                  .col-md-9
                    %input#password1.form-control{:type => "password"}/
                .form-group
                  .col-md-9.col-md-offset-3
                    .checkbox.inline
                      %label
                        %input#inlineCheckbox2{:type => "checkbox", :value => "agree"}/
                        Agree with Terms and Conditions
                .form-group
                  .col-md-9.col-md-offset-3
                    %button.btn.btn-default{:type => "submit"} Register
                    %button.btn.btn-default{:type => "reset"} Reset
          .modal-footer
            %p
              Already have account?
              %a{:href => "login.html"} Login
              here.
    / Register modal ends
    / Navigation
    .navbar.bs-docs-nav{:role => "banner"}
      .container
        .navbar-header
          %button.navbar-toggle{"data-target" => ".bs-navbar-collapse", "data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle navigation
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        %nav.collapse.navbar-collapse.bs-navbar-collapse{:role => "navigation"}
          %ul.nav.navbar-nav
            %li
              %a{:href => "index.html"}
                %i.icon-home
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Account
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "myaccount.html"} My Account
                %li
                  %a{:href => "view-cart.html"} View Cart
                %li
                  %a{:href => "checkout.html"} Checkout
                %li
                  %a{:href => "wish-list.html"} Wish List
                %li
                  %a{:href => "order-history.html"} Order History
                %li
                  %a{:href => "edit-profile.html"} Edit Profile
                %li
                  %a{:href => "confirmation.html"} Confirmation
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Pages
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "general.html"} General
                %li
                  %a{:href => "login.html"} Login
                %li
                  %a{:href => "register.html"} Register
                %li
                  %a{:href => "blog.html"} Blog
                %li
                  %a{:href => "blog-single.html"} Blog Single
                %li
                  %a{:href => "404.html"} 404
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Smartphones
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "items.html"} HTC
                %li
                  %a{:href => "items.html"} Samsung
                %li
                  %a{:href => "items.html"} Apple
                %li
                  %a{:href => "items.html"} Motorola
                %li
                  %a{:href => "items.html"} Nokia
            %li.dropdown
              %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
                Tablets
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href => "items.html"} Samsung
                %li
                  %a{:href => "items.html"} Micromax
                %li
                  %a{:href => "items.html"} Apple
            %li
              %a{:href => "support.html"} Support
            %li
              %a{:href => "contact.html"} Contact
    / Items
    .items
      .container
        .row
          / Sidebar
          .col-md-3.col-sm-3.hidden-xs
            %h5.title Categories
            / Sidebar navigation
            %nav
              %ul#nav
                / Main menu. Use the class "has_sub" to "li" tag if it has submenu.
                %li
                  %a{:href => "index.html"} Home
                %li.has_sub
                  %a{:href => "#"} Smartphone
                  / Submenu
                  %ul
                    %li
                      %a{:href => "items.html"} HTC
                    %li
                      %a{:href => "items.html"} Samsung
                    %li
                      %a{:href => "items.html"} Apple
                    %li
                      %a{:href => "items.html"} Motorola
                    %li
                      %a{:href => "items.html"} Nokia
                %li.has_sub
                  %a{:href => "#"} Tablet
                  %ul
                    %li
                      %a{:href => "items.html"} Samsung
                    %li
                      %a{:href => "items.html"} Apple
                    %li
                      %a{:href => "items.html"} Motorola
                %li.has_sub
                  %a{:href => "#"} Digital Camera
                  %ul
                    %li
                      %a{:href => "items.html"} Nikkon
                    %li
                      %a{:href => "items.html"} Samsung
                    %li
                      %a{:href => "items.html"} Sony
                    %li
                      %a{:href => "items.html"} Cannon
                %li.has_sub
                  %a{:href => "#"} Computers
                  %ul
                    %li
                      %a{:href => "items.html"} Dell
                    %li
                      %a{:href => "items.html"} Lenovo
                    %li
                      %a{:href => "items.html"} Apple
                    %li
                      %a{:href => "items.html"} Samsung
                %li.has_sub
                  %a{:href => "#"} Software
                  %ul
                    %li
                      %a{:href => "items.html"} Microsoft
                    %li
                      %a{:href => "items.html"} Nero
                    %li
                      %a{:href => "items.html"} Apple
                    %li
                      %a{:href => "items.html"} Avaira
            %br/
            / Sidebar items (featured items)
            .sidebar-items
              %h5.title Featured Items
              / Item #1
              .sitem
                / Don't forget the class "onethree-left" and "onethree-right"
                .onethree-left
                  / Image
                  %a{:href => "single-item.html"}
                    %img.img-responsive{:alt => "", :src => "img/photos/2.png"}/
                .onethree-right
                  / Title
                  %a{:href => "single-item.html"} HTC One V
                  / Para
                  %p Aenean ullamcorper justo tincidunt justo aliquet.
                  / Price
                  %p.bold $199
                .clearfix
              .sitem
                .onethree-left
                  %a{:href => "single-item.html"}
                    %img.img-responsive{:alt => "", :src => "img/photos/3.png"}/
                .onethree-right
                  %a{:href => "single-item.html"} Sony One V
                  %p Aenean ullamcorper justo tincidunt justo aliquet.
                  %p.bold $399
                .clearfix
              .sitem
                .onethree-left
                  %a{:href => "single-item.html"}
                    %img.img-responsive{:alt => "", :src => "img/photos/4.png"}/
                .onethree-right
                  %a{:href => "single-item.html"} Nokia One V
                  %p Aenean ullamcorper justo tincidunt justo aliquet.
                  %p.bold $159
                .clearfix
              .sitem
                .onethree-left
                  %a{:href => "single-item.html"}
                    %img.img-responsive{:alt => "", :src => "img/photos/5.png"}/
                .onethree-right
                  %a{:href => "single-item.html"} Samsung One V
                  %p Aenean ullamcorper justo tincidunt justo aliquet.
                  %p.bold $299
                .clearfix
          / Main content
          .col-md-9.col-sm-9
            / Breadcrumb
            %ul.breadcrumb
              %li
                %a{:href => "index.html"} Home
                %span.divider /
              %li
                %a{:href => "items.html"} Smartphone
                %span.divider /
              %li.active Apple
            / Title
            %h4.pull-left Apple iPhones
            / Sorting
            .form-group.pull-right
              %select.form-control
                %option Sort By
                %option Name (A-Z)
                %option Name (Z-A>
                %option Price (Low-High)
                %option Price (High-Low)
                %option Ratings
            .clearfix
            .row
              / Item #1
              .col-md-4.col-sm-6
                / Each item should be enclosed in "item" class
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/2.png"}/
                  / Item details
                  .item-details
                    / Name
                    / Use the span tag with the class "ico" and icon link (hot, sale, deal, new)
                    %h5
                      %a{:href => "single-item.html"} HTC One V
                      %span.ico
                        %img{:alt => "", :src => "img/hot.png"}/
                    .clearfix
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $360
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              / Item #2
              .col-md-4.col-sm-6
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/3.png"}/
                  / Item details
                  .item-details
                    / Name
                    %h5
                      %a{:href => "single-item.html"} Dell One V
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $264
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              .col-md-4.col-sm-6
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/4.png"}/
                  / Item details
                  .item-details
                    / Name
                    %h5
                      %a{:href => "single-item.html"} Cannon One V
                      %span.ico
                        %img{:alt => "", :src => "img/new.png"}/
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $160
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              .col-md-4.col-sm-6
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/5.png"}/
                  / Item details
                  .item-details
                    / Name
                    %h5
                      %a{:href => "single-item.html"} Apple One V
                      %span.ico
                        %img{:alt => "", :src => "img/deal.png"}/
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $420
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              .col-md-4.col-sm-6
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/6.png"}/
                  / Item details
                  .item-details
                    / Name
                    %h5
                      %a{:href => "single-item.html"} Samsung One V
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $300
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              .col-md-4.col-sm-6
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/7.png"}/
                  / Item details
                  .item-details
                    / Name
                    %h5
                      %a{:href => "single-item.html"} Micromax One V
                      %span.ico
                        %img{:alt => "", :src => "img/sale.png"}/
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $240
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              .col-md-4.col-sm-6
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/8.png"}/
                  / Item details
                  .item-details
                    / Name
                    %h5
                      %a{:href => "single-item.html"} Nokia One V
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $50
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              .col-md-4.col-sm-6
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/9.png"}/
                  / Item details
                  .item-details
                    / Name
                    %h5
                      %a{:href => "single-item.html"} Sony One V
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $100
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              .col-md-4.col-sm-6
                .item
                  / Item image
                  .item-image
                    %a{:href => "single-item.html"}
                      %img.img-responsive{:alt => "", :src => "img/photos/10.png"}/
                  / Item details
                  .item-details
                    / Name
                    %h5
                      %a{:href => "single-item.html"} Huawai One V
                    / Para. Note more than 2 lines.
                    %p Something about the product goes here. Not More than 2 lines.
                    %hr/
                    / Price
                    .item-price.pull-left $100
                    / Add to cart
                    .button.pull-right
                      %a{:href => "#"} Add to Cart
                    .clearfix
              .col-md-9.col-sm-9
                / Pagination
                .paging
                  %span.current 1
                  %a{:href => "#"} 2
                  %span.dots &hellip;
                  %a{:href => "#"} 6
                  %a{:href => "#"} Next
    / Recent items carousel starts
    .recent-posts
      .container
        .row
          .col-md-12
            .bor
            %h4.title Recent Items
            .carousel_nav.pull-right
              / Navigation
              %a#car_prev.prev{:href => "#"}
                %i.icon-chevron-left
              %a#car_next.next{:href => "#"}
                %i.icon-chevron-right
            .clearfix
            %ul.rps-carousel
              / Recent items #1
              / Each item should be enclosed inside "li"  tag.
              %li
                .rp-item
                  .rp-image
                    / Image
                    %a{:href => "single-item.html"}
                      %img{:alt => "", :src => "img/photos/2.png"}/
                  .rp-details
                    / Title and para
                    %h5
                      %a{:href => "single-item.html"}
                        HTC One V
                        %span.price.pull-right $225
                    .clearfix
                    / Description
                    %p Travel far away to a space station.
              / Recent items #2
              %li
                .rp-item
                  .rp-image
                    %a{:href => "single-item.html"}
                      %img{:alt => "", :src => "img/photos/3.png"}/
                  .rp-details
                    / Title and para
                    %h5
                      %a{:href => "single-item.html"}
                        Sony Xperia Pro
                        %span.price.pull-right $525
                    .clearfix
                    %p Travel far away to a space station.
              %li
                .rp-item
                  .rp-image
                    %a{:href => "single-item.html"}
                      %img{:alt => "", :src => "img/photos/4.png"}/
                  .rp-details
                    / Title and para
                    %h5
                      %a{:href => "single-item.html"}
                        Samsung Pop
                        %span.price.pull-right $255
                    .clearfix
                    %p Travel far away to a space station.
              %li
                .rp-item
                  .rp-image
                    %a{:href => "single-item.html"}
                      %img{:alt => "", :src => "img/photos/5.png"}/
                  .rp-details
                    / Title and para
                    %h5
                      %a{:href => "single-item.html"}
                        Motorola Droid
                        %span.price.pull-right $325
                    .clearfix
                    %p Travel far away to a space station.
              %li
                .rp-item
                  .rp-image
                    %a{:href => "single-item.html"}
                      %img{:alt => "", :src => "img/photos/6.png"}/
                  .rp-details
                    / Title and para
                    %h5
                      %a{:href => "single-item.html"}
                        Blackberry Force
                        %span.price.pull-right $125
                    .clearfix
                    %p Travel far away to a space station.
              %li
                .rp-item
                  .rp-image
                    %a{:href => "single-item.html"}
                      %img{:alt => "", :src => "img/photos/7.png"}/
                  .rp-details
                    / Title and para
                    %h5
                      %a{:href => "single-item.html"}
                        Pantech One
                        %span.price.pull-right $253
                    .clearfix
                    %p Travel far away to a space station.
    / Recent Posts ends
    / Newsletter starts
    .container.newsletter
      .row
        .col-md-12
          .well
            %h5
              %i.icon-envelope-alt
              Hot Offers - Don't Miss Anything!!!
            %p Nulla facilisi. Sed justo dui, scelerisque ut consectetur vel, eleifend id erat. Morbi auctor adipiscing tempor. Phasellus condimentum rutrum aliquet.
            %form.form-inline{:role => "form"}
              .form-group
                %input#search.form-control{:placeholder => "Subscribe", :type => "email"}/
              %button.btn.btn-default{:type => "submit"} Subscribe
    / Newsletter ends
    / Footer starts
    %footer
      .container
        .row
          .col-md-12
            .row
              .col-md-4
                .widget
                  %h5 Contact
                  %hr/
                  .social
                    %a{:href => "#"}
                      %i.icon-facebook.facebook
                    %a{:href => "#"}
                      %i.icon-twitter.twitter
                    %a{:href => "#"}
                      %i.icon-linkedin.linkedin
                    %a{:href => "#"}
                      %i.icon-google-plus.google-plus
                  %hr/
                  %i.icon-home
                  \&nbsp; 123, Some Area. Los Angeles, CA, 54321.
                  %hr/
                  %i.icon-phone
                  \&nbsp; +239-3823-3434
                  %hr/
                  %i.icon-envelope-alt
                  \&nbsp;
                  %a{:href => "mailto:#"} someone@company.com
                  %hr/
                  .payment-icons
                    %img{:alt => "", :src => "img/payment/americanexpress.gif"}/
                    %img{:alt => "", :src => "img/payment/visa.gif"}/
                    %img{:alt => "", :src => "img/payment/mastercard.gif"}/
                    %img{:alt => "", :src => "img/payment/discover.gif"}/
                    %img{:alt => "", :src => "img/payment/paypal.gif"}/
              .col-md-4
                .widget
                  %h5 About Us
                  %hr/
                  %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum. Curabitur pulvinar ornare vulputate scelerisque scelerisque ut consectetur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras elementum dolor eget nisi fermentum quis hendrerit magna vestibulum.
              .col-md-4
                .widget
                  %h5 Links Goes Here
                  %hr/
                  .two-col
                    .col-left
                      %ul
                        %li
                          %a{:href => "#"} Condimentum
                        %li
                          %a{:href => "#"} Etiam at
                        %li
                          %a{:href => "#"} Fusce vel
                        %li
                          %a{:href => "#"} Vivamus
                        %li
                          %a{:href => "#"} Pellentesque
                        %li
                          %a{:href => "#"} Vivamus
                    .col-right
                      %ul
                        %li
                          %a{:href => "#"} Condimentum
                        %li
                          %a{:href => "#"} Etiam at
                        %li
                          %a{:href => "#"} Fusce vel
                        %li
                          %a{:href => "#"} Vivamus
                        %li
                          %a{:href => "#"} Pellentesque
                        %li
                          %a{:href => "#"} Vivamus
                    .clearfix
            %hr/
            / Copyright info
            %p.copy
              Copyright &copy; 2012 |
              %a{:href => "#"} Your Site
              \-
              %a{:href => "#"} Home
              |
              %a{:href => "#"} About Us
              |
              %a{:href => "#"} Service
              |
              %a{:href => "#"} Contact Us
        .clearfix
    / Footer ends
    / Scroll to top
    %span.totop
      %a{:href => "#"}
        %i.icon-chevron-up
    / JS
    %script{:src => "js/jquery.js"}
    / jQuery
    %script{:src => "js/bootstrap.js"}
    / Bootstrap
    %script{:src => "js/jquery.prettyPhoto.js"}
    / Pretty Photo
    %script{:src => "js/filter.js"}
    / Filter for support page
    %script{:src => "js/jquery.flexslider-min.js"}
    / Flex slider
    %script{:src => "js/nav.js"}
    / Sidebar navigation
    %script{:src => "js/jquery.carouFredSel-6.1.0-packed.js"}
    / Carousel for recent posts
    %script{:src => "js/custom.js"}
    / Custom codes
